/* =========== BLOG POST IMAGE ========== */
.admin-blog-post-list .image-wrapper,
.admin-nail-design-list .image-wrapper {
  display: inline-block;
  position: relative;
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
}
.admin-blog-post-list .image-wrapper .small-image,
.admin-nail-design-list .image-wrapper .small-image {
  /* PORTRAIT image: height: auto , width: 100%  */
  /* LANDSCAPE image: width: auto , height: 100%  (can also set a margin left or right to push image to the desired position)  */
  height: auto;
  width: 100%;
}
