.header {
  padding-top: 1rem;
  position: sticky;
  top: 0;
  transition: all 0.2s ease;
  z-index: 1;
}

.header-onscroll {
  backdrop-filter: blur(10px);
  box-shadow: 0 0 15px 3px rgba(255, 127, 80, 0.3);
  background-color: rgba(255, 255, 255, 0.603) !important;
}

/* ====================== NAVBAR ============== */

.navbar {
  background-color: transparent !important;
}
.navbar-toggler {
  outline: none;
  box-shadow: none;
  border: none;
}

.logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
}
