.design-detail-modal,
.create-nail-modal,
.create-post-modal {
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.modal-header {
  border-bottom: none !important;
}

.modal-content {
  min-width: 30em;
  min-height: 28em;
  height: auto;
  background-color: rgba(255, 255, 255, 0.65);
  backdrop-filter: blur(15px);
  border-radius: 15px;
  border: 1px solid rgb(255, 255, 255);
  box-shadow: 0 0 20px 3px #636363;
}

.modal-dialog {
  min-width: 30em;
  min-height: 28em;
  height: auto;
}

.modal-body {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 2rem 2rem 2rem;
}

.list-group-item {
  background-color: transparent !important;
}

.modal-description-style-category {
  height: 12em;
  display: flex !important;
  flex-direction: column !important;
  justify-content: space-between !important;
}

.modal-image {
  border-radius: 15px;
  box-shadow: 0 0px 30px 2px #ffffff;
}

/* CREATE NAIL MODAL */

.create-nail-modal .modal-body,
.create-post-modal .modal-body {
  padding: 0 !important;
}

.create-nail-modal form,
.create-post-modal form {
  width: 80%;
}

.create-nail-modal .modal-title,
.create-post-modal .modal-title {
  width: 100%;
  text-align: center;
  margin-top: 0.5em;
  color: #f46b45c7;
}

.create-nail-modal > .form-control:focus {
  background-color: white !important;
}
