.design-detail-modal {
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.modal-header {
  border-bottom: none !important;
}

.modal-content {
  min-width: 30em;
  min-height: 28em;
  height: auto;
  background-color: rgba(255, 255, 255, 0.486);
  backdrop-filter: blur(15px);
  border-radius: 15px;
  border: 1px solid rgba(255, 255, 255, 0.616);
  box-shadow: 0 0 20px 3px #636363;
}

.modal-dialog {
  min-width: 30em;
  min-height: 28em;
  height: auto;
}

.modal-body {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 2rem 2rem 2rem;
}

.list-group-item {
  background-color: transparent !important;
}

.modal-description-style-category {
  height: 12em;
  display: flex !important;
  flex-direction: column !important;
  justify-content: space-between !important;
}

.modal-image {
  border-radius: 15px;
  box-shadow: 0 0px 30px 2px #ffffff;
}

.modal-backdrop {
  background-color: transparent;
  backdrop-filter: blur(200px);
}
