/* html {
  scroll-behavior: smooth;
} */

@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");

body {
  font-family: "Varela Round", sans-serif;
}

main {
  min-height: 90vh;
}

header {
  padding-top: 1rem;
}

/* ====================== NAVBAR ============== */

.navbar {
  background-color: transparent !important;
}
.navbar-toggler {
  outline: none;
  box-shadow: none;
  border: none;
}

.logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* =============== BUTTON ================ */
.btn {
  border: none;
  border-radius: 25px;
  padding: 0 8px;
  margin-left: 10px;
  background: #f46b45; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #eea949ad,
    #f46b45c7
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #eea949ad,
    #f46b45c7
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  box-shadow: 2px 5px 5px 5px rgba(128, 128, 128, 0.15) !important;
}

/*====================== FOOTER =============== */
footer {
  background-color: gray;
  color: white;
  margin-bottom: 0 !important;
  height: 10em;
}

/* ======================== CUSTOM SCROLL BAR ======================= */

/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
/* ::-webkit-scrollbar-track {
  background: transparent;
} */

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(199, 198, 198);
  border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(63, 63, 63);
}

/* HIDE SCROLLBAR */
/* ::-webkit-scrollbar {
    display: none;
  } */
